.product-card {
    width: 16rem;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card .card-body {
    padding: 1rem;
}

.product-card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.product-card .card-text {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #555;
}