.product-card {
    width: 16rem;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card .card-body {
    padding: 1rem;
}

.product-card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.product-card .card-text {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #555;
}

.product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust the height as needed */
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .product-price {
    color: #016b21d3;
    font-weight: bold;
    font-size: 16px;
} */

.product-price {
    color: #016b21d3;
    font-weight: bold;
    font-size: 18px;
}

.product-detail {
    display: flex;
    justify-content: space-between;
}


.product-value {
    text-align: right;
    font-weight: bold;
}